/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "lato" !important;
  font-size: 15px !important;
}

button:focus {
  outline: none !important;
}

/* ADMIN DASHBOARD */

.mat-drawer-inner-container {
  background-color: #07102a;
  width: 220px !important;
}

.mat-drawer-side {
  border: none !important;
}

/* ADMIN DASHBOARD */

.bold-font-family {
  font-family: "lato-bold" !important;
}

.font-size-13 {
  font-size: 13px !important;
}

/* .logo {
    padding: 30px 25px;
} */

.logo-img {
  max-width: 90%;
  height: 20rem;
}

.logo-heading {
  font-family: "Rubik";
  font-size: 28px;
  color: #ffffff;
}

.domain {
  background-color: #ffb800;
  color: #0a1b4b;
  font-size: 18px;
  font-family: "Rubik";
  padding: 6px;
  border-radius: 6px;
  margin-left: 5px;
}

.full-height {
  height: 100vh;
}

.centered {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.bg-color-blue {
  background-color: #07102a;
}

.bg-color-primary {
  background-color: cyan;
}

.heading h1 {
  font-family: "lato-black";
  font-size: 40px;
}

.form-horizontal {
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.mat-input-element {
  font-family: "lato" !important;
  font-size: 15px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 !important;
}

.mat-flat-button.mat-accent {
    background-color: #ff9900;
}
.mat-flat-button.mat-primary {
    background-color: #ff9900;
}

button.mat-accent {
  border-radius: 5px;
  font-family: "lato-bold";
  font-size: 22px;
  background-color: #ffb800;
  padding: 10px 60px;
}

.bg-acent {
  background-color: #ffb800;
  color: #0a1b4b;
}

.page-heading {
  font-family: "lato-bold";
  font-size: 25px;
}

.page-heading-sub-text {
  color: #ffb800;
  font-size: 14px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-20 {
  font-size: 20px;
}

.cursor-hand {
  cursor: pointer;
}
