<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="javascript:void(0);">
        <div class="logo">
            <span class="logo-heading">Pres System</span>
            <!-- <span class="domain">.in</span>
            <span class="domain"> .com</span> -->
        </div>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <button mat-flat-button color="primary" aria-label="Notifications" class="mr-3">
            <i class="fa fa-bell-o"></i>
        </button>
        <a class="navbar-text mr-3 text-white" href="javascript:void(0);">
            <span class="bold-font-family">Hi John,</span><br> <span class="font-size-13">Administrator</span>
        </a>
        <button mat-mini-fab color="warn" class="bg-acent">
            JD
        </button>
    </div>
</nav>