<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
        <app-admin-header></app-admin-header>

        <mat-sidenav mode="side" opened="false">
            <app-admin-sidenav></app-admin-sidenav>
        </mat-sidenav>
        
        <div class="container mt-75">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<section>
    <app-admin-header></app-admin-header>

    <section class="body-content">
        <div class="side-nav-bar">
            <app-admin-sidenav></app-admin-sidenav>
        </div>
        <div class="main-container mt-75">
            <router-outlet></router-outlet>
        </div>
    </section>
    

    
    <app-footer></app-footer>
</section>
