@media only screen and (min-width: 320px) and (max-width: 479px) {
.right{
	right: 0;
}
.image1{
	padding: 14px 16px;
    width: 100%;
}
.centered{
	position: relative;
    margin-top: 40%;
    text-align: center;
}
.heading{
	margin-top: 10px;
}
.heading h1{
	color: #dbdfe8;
	font-size: 22px;
	padding: 14px 16px;
}
.center{
    transform: translate(-28%, -13%);
}
.loginbtn{
    font-size: 16px;
}
.forget-pass{
	margin-right: 0px;
}
.forget-pass a{
	font-size: 13px;
}
}
@media only screen and (min-width: 480px) and (max-width: 480px) {
	.right{
		right: 0;
	}
	.centered{
		position: relative;
		margin-top: 40%;
		text-align: center;
	}
	.heading{
		margin-top: 10px;
	}
	.heading h1{
		color: #dbdfe8;
		font-size: 22px;
		padding: 14px 16px;
	}
	.max{
		font-size: 35px;
	}
	.in{
		font-size: 23px;
	}
	.center{
		transform: translate(-28%, -13%);
	}
	.loginbtn{
		font-size: 16px;
	}
	.forget-pass{
		margin-right: 0px;
	}
	.forget-pass a{
		font-size: 13px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.right{
		right: 0;
	}
	.centered{
		position: relative;
		margin-top: 40%;
		text-align: center;
	}
	.heading{
		margin-top: 10px;
	}
	.heading h1{
		color: #dbdfe8;
		font-size: 22px;
		padding: 14px 16px;
	}
	.max{
		font-size: 35px;
	}
	.in{
		font-size: 23px;
	}
	.center{
		transform: translate(-28%, -13%);
	}
	.loginbtn{
		font-size: 16px;
	}
	.forget-pass{
		margin-right: 0px;
	}
	.forget-pass a{
		font-size: 13px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.right{
		right: 0;
	}
	.centered{
		position: relative;
		margin-top: 40%;
		text-align: center;
	}
	.heading{
		margin-top: 10px;
	}
	.heading h1{
		color: #dbdfe8;
		font-size: 22px;
		padding: 14px 16px;
	}
	.max{
		font-size: 23px;
	}
	.in{
		font-size: 18px;
	}
	.center{
		transform: translate(-28%, -13%);
	}
	.loginbtn{
		font-size: 16px;
	}
	.forget-pass{
		margin-right: 0px;
	}
	.forget-pass a{
		font-size: 13px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {	
	.right{
		right: 0;
	}
	.centered{
		position: relative;
		margin-top: 40%;
		text-align: center;
	}
	.heading{
		margin-top: 10px;
	}
	.heading h1{
		color: #dbdfe8;
		font-size: 22px;
		padding: 14px 16px;
	}
	.max{
		font-size: 23px;
		margin-right: 11px;
	}
	.in{
		font-size:18px;
	}
	.center{
		transform: translate(-28%, -13%);
	}
	.loginbtn{
		font-size: 16px;
	}
	.forget-pass{
		margin-right: 0px;
	}
	.forget-pass a{
		font-size: 13px;
	}
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
	.right{
		right: 0;
	}
	.centered{
		position: relative;
		margin-top: 40%;
		text-align: center;
	}
	.heading{
		margin-top: 10px;
	}
	.heading h1{
		color: #dbdfe8;
		font-size: 22px;
		padding: 14px 16px;
	}
	.max{
		font-size: 24px;
		margin-right: 11px;
	}
	.in{
		font-size:16px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1499px) {
}