<div class="row">
  <div class="col-md centered full-height">
    <img src="assets/img/logo.png" alt="Pres-System" class="logo-img" />
  </div>

  <div class="col-md full-height centered bg-color-primary">
    <div class="w-75">
      <div class="heading mb-3">
        <h1 class="text-white">LOGIN</h1>
      </div>

      <form class="form-horizontal" autocomplete="off">
        <div class="form-group mt-5">
          <mat-form-field
            class="form-full-width"
            appearance="outline"
            floatLabel="never"
          >
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" autocomplete="test" />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field
            class="form-full-width"
            appearance="outline"
            floatLabel="never"
          >
            <mat-label>Password</mat-label>
            <input
              matInput
              type="password"
              placeholder="Password"
              autocomplete="test-pwd"
            />
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-checkbox
            class="remember-me"
            class="text-white"
            labelPosition="after"
          >
            Remember Me
          </mat-checkbox>
        </div>
        <div class="text-center">
          <button
            mat-flat-button
            color="accent"
            type="button"
            class="mt-3 text-white"
            routerLink="/auth/dashboard"
          >
            Submit
          </button>
        </div>
        <div class="w-100 mt-3 text-center">
          <a class="foget-user-password">Forget your User ID or Password</a>
        </div>
      </form>
    </div>
  </div>
</div>
