.remember-me {
    margin: 0 10px;
}

.remember-me .mat-checkbox-label {
    font-family: 'lato';
    font-size: 15px;
}

.foget-user-password {
    font-family: 'lato';
    font-size: 15px;
    color: #494C54;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .bg-color-blue {
        margin-top: 0px;
    }
    .logo-img {
        height: 50%;
    }
    .full-height {
        height: 100%;
    }
    .centered {
        margin-top: 0px;
    }
    .heading h1 {
        color: #000;
    }
}

@media only screen and (min-width: 480px) and (max-width: 480px) {
    .bg-color-blue {
        margin-top: 0px;
    }
    .logo-img {
        height: 50%;
    }
    .full-height {
        height: 100%;
    }
    .centered {
        margin-top: 0px;
    }
    .heading h1 {
        color: #000;
    }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .logo-img {
        margin: 70px;
    }
    .full-height {
        height: 100%;
    }
    .centered {
        margin-top: 0px;
    }
    .heading h1 {
        color: #000;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .logo-img {
        margin: 70px;
    }
    .full-height {
        height: 100%;
    } 
    .centered {
        margin-top: 0px;
    }
    .heading h1 {
        color: #000;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .logo-img {
        margin: 70px;
    }
    .full-height {
        height: 100%;
    }
    .centered {
        margin-top: 0px;
    }
    .heading h1 {
        color: #000;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .logo-img {
        margin: 70px;
    }
    .full-height {
        height: 100%;
    }
    .centered {
        margin-top: 0px;
    }
    .heading h1 {
        color: #000;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
    
}