.card .card-header {
    padding: 15px 15px 0;
    background-color: #FFFFFF;
    border-bottom: none;
}
.btn{
    margin: 14px 16px;
}
.card-user .author {
    text-align: center;
    text-transform: none;
}
.author a{
    text-decoration: none;
}
.card-image {
    height: 110px;
}
.card-user hr{
    margin: 5px 15px;
}
