<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Edit Profile</h1>
                </div>
                <div class="card-body">
                    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="form-full-width" appearance="outline">
                                    <mat-label>EMAIL</mat-label>
                                    <input matInput type="email" placeholder="Email" formControlName="email">
                                    <mat-error *ngIf="(formControls.email.touched || submitted) && formControls.email.errors?.email">Email is invalid</mat-error>
                                    <mat-error *ngIf="(formControls.email.touched || submitted) && formControls.email.errors?.required">Email is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>MOBILE</mat-label>
                                        <input matInput type="number" placeholder="Mobile" formControlName="mobile">
                                        <mat-error *ngIf="(formControls.mobile.touched || submitted) && formControls.mobile.errors?.required">Mobile is required</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>FIRST NAME</mat-label>
                                        <input matInput placeholder="First Name">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>LAST NAME</mat-label>
                                        <input matInput placeholder="Last Name">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>ADDRESS</mat-label>
                                        <input matInput placeholder="Address">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>CITY</mat-label>
                                        <input matInput placeholder="City">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>STATE</mat-label>
                                        <input matInput placeholder="State">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>POSTAL CODE</mat-label>
                                        <input matInput placeholder="ZIP Code">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>OLD PASSWORD</mat-label>
                                        <input matInput placeholder="Current Password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>PASSWORD</mat-label>
                                        <input matInput placeholder="New Password">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <mat-form-field class="form-full-width" appearance="outline" floatLabel="never">
                                        <mat-label>CONFIRM PASSWORD</mat-label>
                                        <input matInput placeholder="Confirm Password">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-info">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-image"></div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <!-- <img src="images/roundimage2.png"> -->
                            <h2 class="title">Deependra</h2>
                        </a>
                        <p class="description">
                            <strong>Email:</strong> deependra@thetechassembles.com
                            <strong>Mobile:</strong> 9554111160
                        </p>
                    </div>
                    <p class="description text-center">
                        <strong>Address:</strong> INDORE
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
